<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPA | JSON AUTOMÁTICO PARA O MAPA CULTURAL</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Salvar os Pontos Culturais em JSON</h1>
    <form id="data-form">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>
        
        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" name="latitude" required><br><br>
        
        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" name="longitude" required><br><br>
        
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" required></textarea><br><br>

        <button type="button" onclick="submitData()">Salvar</button>
    </form>

    <!-- Link para o arquivo JavaScript -->
    <script src="/static/js/script.js"></script>
</body>
</html>